.box h3 + p {
  font-size: 15px;
}
.box h3,
.box h3 + p {
  margin-bottom: 10px;
}
.box h3 + p {
  margin-top: 10px;
  color: #888;
}
/**/
.projects .box {
  position: relative;
}
.projects .box .date {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: var(--grey-color);
}
.projects .box > div {
  margin-top: 40px;
}
.projects .box > div > div:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.projects .box > div > div {
  padding: 20px 10px;
}
.projects .box > div > div img {
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
.projects .box > div > div img:not(:first-of-type) {
  margin-left: -20px;
}
.projects .box > div > div:nth-of-type(2) {
  text-align: end;
}
.projects .box > div > div:nth-of-type(2) span {
  background-color: #eee;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
}
.projects .box > div > div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}
.projects .box > div > div:last-of-type > span:first-of-type {
  width: 200px;
  height: 10px;
  border-radius: 5px;
  background-color: #ddd;
  overflow: hidden;
}
.projects .box > div > div:last-of-type > span:first-of-type > span {
  display: block;
  height: 100%;
}
.projects .box > div > div:last-of-type > span:last-of-type {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-color);
}
